@import  "../vandor/bs/bootstrap.less";

@tc: #998a7b;

.origin(@left, @right) {
  -webkit-transform-origin: @left @right;
     -moz-transform-origin: @left @right;
      -ms-transform-origin: @left @right;
       -o-transform-origin: @left @right;
          transform-origin: @left @right;
}

.blur(@px){
	-webkit-filter: blur(@px);
	-moz-filter: blur(@px);
	-o-filter: blur(@px);
	-ms-filter: blur(@px);
	filter: blur(@px);
}

.navdot(@s:90px){
	.square(@s);
	color:#cec8c1;
	font-size: 70px;
	.border-radius(@s/2);
	background:#9d958d;
	line-height: @s;
	text-align: center;
	cursor:pointer;
	.opacity(80);
	&:hover{
		.opacity(100)
	}
}


.header{
	.center-block;
	.size(234px, 1080px);
	text-indent: -10000px;
	background: url(../img/header.png);
}

.container{
	.center-block;
	.size(1686px, 1080px);
}

#homebody{
	background: url(../img/homebody.png);
}

#pagebody{
	background: url(../img/pagebody.png);
}

//menu in homepage
#Menu{
	.size(1400px, 778px);
	overflow:hidden;
	margin-top:48px;
	.center-block;
	ul.Menu{
		margin:0;
		li{
			display: block;
			margin-bottom: 15px;
			.clearfix;
			&:last-child{margin:0;}
			a{
				display: block;
				font-size:50px;
				color: white;
				text-align: center;
				text-shadow:-2px 2px 5px gray;
				font-family: "SimHei";
				&:hover{
					text-decoration: none;
					color:white; 
				}
			}
			img{
				display: block;
			}
		}
		#nav-Picture{
			a{
				.size(353px, 359px);
				background: url(../img/nav-picture-back.png);
				.pull-left;
				line-height: 255px*2+50;
			}
			img{.pull-right;}
		}
		#nav-Video{
			a{
				.size(353px,262px);
				background: url(../img/nav-video-back.png);
				.pull-right;
				line-height: 255px*2+50;
			}
			img{.pull-left;}
		}
		#nav-Product{
			a{
				.size(256px, 359px);
				background: url(../img/nav-Product-back.png);
				.pull-right;
				line-height: 195px*2+50;
			}
			img{.pull-left;}
		}
		#nav-Download{
			a{
				.size(193px, 427px);
				background: #9ec74c;
				.pull-right; 
				line-height: 193px;
			}
			img{.pull-left;}
		}
	}
}

#Nav-scroll{
	.size(90px, 270px);
	.center-block;
	margin-top: 20px;
	i{
		.navdot;
	}
	i:first-child{.pull-left;}
	i:last-child{.pull-right;}
}

#Control{
	> a{
		.size(120px, 284px);
		.pull-left;
		text-indent: -10000px;
		background: url(../img/backhome.png) no-repeat;
	}
}

nav#Sort-wrap{
		.size(120px, 670px);
		.pull-right;
		margin:-110px 42px 0;

		.left-path, .right-path{
			width:20px;
			line-height: 120px;
			.pull-left;
			color:@tc;
			cursor:pointer;
			visibility: hidden;
			margin:0 10px;

		}

		.sort-list{
			width: 590px;
			line-height: 120px;
			.pull-left;
			overflow: hidden;

			ul{
				margin:0;
				height:120px;
				li{
					.pull-left;
					margin:0 11px;
					list-style-position: inside;
					line-height: 110px;
					color:@tc;
					font-size:30px;
					a{
						font-size:40px;
						color:@tc;
						&:hover{
							text-decoration:none;
						}
					}
					&.active a{
						color:darken(@tc, 20%);
						text-decoration:underline;
					}
				}	
			}
		}
	}

#proCarousel{
	padding-top:48px;
	.size(1320px, 1002px);
	.center-block;

	.carousel-inner{
		.size(1320px,822px);
		.center-block;
	}
	.item{
		> a{
			display:block;
			background:url(../img/pic-bg.png) no-repeat;
			.size(327px, 404px);
			.pull-left; 
			cursor: default;

			&:nth-child(2n){
				margin-left: 14px;
			}
			img{
				margin:20px 0;
				.center-block;
				.size(203px, 368px);
			}
			i{
				color:#7499b7;
				margin-right: 20px;
				font-size:30px;
				text-decoration: none;
				cursor:pointer;
			}
		}
	}
	a.carousel-control{
		.navdot(70px);
		border-width: 0;
		&.left{left:10px;}
		&.right{right:10px;}
	}
}

#myModal{
	@m-width:770px;
	@m-height:580px;
	.size(@m-height, @m-width);
	.opacity(80);
	margin-left: 0-@m-width/2;
	.modal-body{
		max-height: none;
		i{
			color:#7499b7;
			.pull-right;
			cursor: pointer;
		}
		img{
			.center-block;
			margin-top: 60px;
			.size(472px,711px);
		}
	}
}

.page-title{
	font:51px/normal Arial, sans-serif;
	color:@tc;
	text-shadow:1px 1px lighten(#b6aca1, 10%);
	position: absolute;
	top:1820px;
	left:50%;
	margin-left: -500px;
}

/*gallery style begin*/
#dg-container{
	.size(990px, 1080px);
	overflow: hidden;
	padding-top: 257px;
	position: relative;
	background: url(../img/console-back.png) no-repeat center 100%;
}
.dg-cell(){
	.size(550px,628px);
}
.dg-wrapper{
	.dg-cell;
	margin: 0 auto;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}
.dg-wrapper a{
	.dg-cell;
	display: block;
	position: absolute;
	.border-radius(20px);
	left: 0; top: 0;

	background: url(../img/browser.png) no-repeat center center;
	&:not(.dg-center){
		.blur(3px);
		img{
			.opacity(70);
		}
	}
	video{
		.opacity(0);
		cursor: default;
	}
}
.dg-wrapper a.dg-transition{
	.transition(all 0.5s ease-in-out);
}
.dg-wrapper a img{
	display: block;
	border-bottom:1px solid #797265;
	.border-top-left-radius(20px);
	.border-top-right-radius(20px);
	.size(503px, 628px);
}

.dg-wrapper a.dg-center video{
	.size(503px, 628px);
	background: black;
	.border-top-left-radius(20px);
	.border-top-right-radius(20px);
	source{
		.size(503px, 628px);	
	}
}
.dg-container nav{
	width: 430px;
	position: absolute;
	z-index: 1000;
	top:755px;
	left: 50%;
	margin-left: -430px/2;
	background: url(../img/vc-bg-2.png) no-repeat center bottom;
}
.dg-container nav i{
	float: left;
	font-size: 40px;
	text-align: center;
	line-height: 84px;
	cursor:pointer;
	color:#62a0c9;
	.square(84px);
	.opacity(80);
	background: transparent url(../img/vc-back-1.png) no-repeat;
	&:hover{
		.opacity(100);
	}
	&.dg-play{
		.square(106px);
		font-size:68px;
		line-height: 106px;
		background: url(../img/vc-back-play.png) no-repeat;
		margin:-(106px-84)/2 (430px-84*2-106)/2 0;
	}
}
/*gallery style end*/

#Download-wrap{
	.size(1566px,1080px);
	background: url(../img/download-back.png) no-repeat;
	.coupon-list{
		@c-h:1248px;
		.size(@c-h,859px);
		.center-block;
		padding-top: 146px;

		.item{
			height:@c-h;
			a{
				display: block;
				height:@c-h/6;
				img{
					height:@c-h/6;
				}
				p{
					@ph:43px;
					background: black;
					line-height: @ph;
					height:@ph;	
					margin:-@ph 0 0;
					.opacity(80);
					font-size:17px;
					color:white;
					.event-name{
						.pull-left;
						margin-left: 30px;
					}
					.event-date{
						.pull-right;
						margin-right: 30px;
					}
				}
			}
		}
	}
	nav{
		position: absolute;
		top:280px;
		left: 50%;
		margin-left: 260px;
		i{
			.navdot;
			display:inline-block;
			&:last-child{
				margin-left:38px;
			}
		}
	}
}

#myModal-2{
	#myModal;
	height: 800px;
	.modal-body>p{
		font-size:32px;
		line-height: 160px;
		font-weight: bold;
		color:#6496bd;
		text-align: center;
	}
}

#proCarousel2{
	width: 1080px;
	margin-top:100px;
	.carousel-inner{
		.size(617px, 1080px);
		.item{
			a{
				display: block;
				.size(617px, 1080px);
				cursor: default;
				img{
					.center-block;
				}
				i{
					visibility: hidden;
				}
			}
		}
		.active a i{
			display: block;
			.square(79px);
			position: absolute;
			top:80%;
			left:65%;
			background: url(../img/icon-desc.png) no-repeat;
			visibility: visible;
			cursor: pointer;
		}
	}
	a.carousel-control{
		.navdot(70px);
		border-width: 0;
		line-height: 60px;
		&.left{left:10px;}
		&.right{right:10px;}
	}
}

#Pro-sort{
	@h:145px; @w:980px;
	margin-top:300px;
	height:@h;
	background:#343434;
	border:12px solid #5e0000;
	border-width:12px 0;

	i{
		position:absolute;
		left:50%;
		top:-245+1560px;
		display:inline-block;
		.navdot(40px);
		font-size:25px;
		margin-left:440px;
		&.icon-angle-right{
			margin-left:490px;
		}
	}

	#Sort-wrap{
		.size(@h, 981px);
		border:1px solid white;
		border-width:0 1px;
		.skew(-30deg, 0);
		.center-block;
		overflow:hidden;
		ul{margin:0;}
		li{
			display:block;
			height:@h;
			width:243px;
			.pull-left;
			border:1px solid white;
			border-width:0 1px;	
			a{				
				display:block;
				border-bottom-width:20px;
				border-bottom-style: solid;
				text-align: center;	
				height:-20+@h;
				line-height: -20+@h;
				color:#797979;
				font-size:30px;
				.transition(all 0.2s ease-in-out);
				&.active, &:hover{
					height:-65+@h;
					line-height: -65+@h;
					border-bottom-width:65px;
					color:white;
				}
				&:hover{
					text-decoration: none;
				}
				span{
					display:block;
					.skew(30deg, 0);
				}
			}
			&:nth-child(4n+1) a{
				border-bottom-color:#e66c23;
			}
			&:nth-child(4n+2) a{
				border-bottom-color:#fab913;
			}
			&:nth-child(4n+3) a{
				border-bottom-color:#1ea0dc;
			}
			&:nth-child(4n+4) a{
				border-bottom-color:#d83377;
			}
		}
	}
}


