<div id="Menu">
	<ul class="Menu">
		<li id="nav-Picture">
			<a href="Picture.html">Picture</a>
			<img src="../Frontend/img/nav-picture.png" alt="Picture">
		</li>
		<li id="nav-Video">
			<a href="Video.html">Video</a>
			<img src="../Frontend/img/nav-video.png" alt="Video">
		</li>
		<li id="nav-Product">
			<a href="Product.html">Product</a>
			<img src="../Frontend/img/nav-product.png" alt="Product">
		</li>
		<li id="nav-Download">
			<a href="Download.html">Download</a>
			<img src="../Frontend/img/nav-download.png" alt="Download">
		</li>
	</ul>
</div>
