<div id="Menu" xmlns="">
	<p class="Menu">
		<a href="Picture.html"><img src="../Frontend/img/nav-picture.png" alt="Picture"></a>
		<a href="Video.html"><img src="../Frontend/img/nav-video.png" alt="Video"></a>
		<a href="Product.html"><img src="../Frontend/img/nav-product.png" alt="Product"></a>
		<a href="Download.html"><img src="../Frontend/img/nav-download.png" alt="Download"></a>
	</p>
</div>
