<div id="Menu">
	<p class="Menu">
		<a href="./">1haodian</a>
		<a href="Picture.html">Picture</a>
		<a href="Video.html">Video</a>
		<a href="Download.html">Download</a>
		<a href="Product.html">Product</a>
		<a href="./">Product manuals</a>
	</p>
</div>