<div id="Control" class="clearfix">
	<a href="./">返回首页</a>
	<nav>
		<div class="left-path">
			<i class="icon-caret-left icon-2x"></i>
		</div>
		<div class="sort-list">
			<ul>
				<li>电子</li>
				<li>母婴</li>
				<li>文艺</li>
				<li>积木</li>
				<li>电子</li>
				<li>电子</li>
				<li>母婴</li>
				<li>文艺</li>
				<li>积木</li>
				<li>电子</li>				
			</ul>
		</div>
		<div class="right-path">
			<i class="icon-caret-right icon-2x"></i>
		</div>
	</nav>
</div>
<div id="proCarousel" class="carousel slide">
<!-- Carousel items -->
	<div class="carousel-inner">
		<div class="active item">
			<a href="javascript:">
				<img src="http://flickholdr.com/368/203/computer/0" alt="proname" rel="http://flickholdr.com/472/711/computer/0">
				<i class="pull-right icon-fullscreen"></i>
			</a>
			<a href="javascript:">
				<img src="http://flickholdr.com/368/203/computer/1" alt="proname" rel="http://flickholdr.com/472/711/computer/1">
				<i class="pull-right icon-fullscreen"></i>
			</a>
			<a href="javascript:">
				<img src="http://flickholdr.com/368/203/computer/2" alt="proname" rel="http://flickholdr.com/472/711/computer/2">
				<i class="pull-right icon-fullscreen"></i>
			</a>
			<a href="javascript:">
				<img src="http://flickholdr.com/368/203/computer/4" alt="proname" rel="http://flickholdr.com/472/711/computer/3">
				<i class="pull-right icon-fullscreen"></i>
			</a>
			<a href="javascript:">
				<img src="http://flickholdr.com/368/203/computer/5" alt="proname" rel="http://flickholdr.com/472/711/computer/5">
				<i class="pull-right icon-fullscreen"></i>
			</a>
			<a href="javascript:">
				<img src="http://flickholdr.com/368/203/computer/6" alt="proname" rel="http://flickholdr.com/472/711/computer/6">
				<i class="pull-right icon-fullscreen"></i>
			</a>
			<a href="javascript:">
				<img src="http://flickholdr.com/368/203/computer/7" alt="proname" rel="http://flickholdr.com/472/711/computer/7">
				<i class="pull-right icon-fullscreen"></i>
			</a>
			<a href="javascript:">
				<img src="http://flickholdr.com/368/203/computer/8" alt="proname" rel="http://flickholdr.com/472/711/computer/8">
				<i class="pull-right icon-fullscreen"></i>
			</a>
		</div>
		<div class="item">
			<a href="javascript:">
				<img src="http://flickholdr.com/368/203/computer/0" alt="proname" rel="http://flickholdr.com/472/711/computer/0">
				<i class="pull-right icon-fullscreen"></i>
			</a>
			<a href="javascript:">
				<img src="http://flickholdr.com/368/203/computer/1" alt="proname" rel="http://flickholdr.com/472/711/computer/1">
				<i class="pull-right icon-fullscreen"></i>
			</a>
			<a href="javascript:">
				<img src="http://flickholdr.com/368/203/computer/2" alt="proname" rel="http://flickholdr.com/472/711/computer/2">
				<i class="pull-right icon-fullscreen"></i>
			</a>
			<a href="javascript:">
				<img src="http://flickholdr.com/368/203/computer/4" alt="proname" rel="http://flickholdr.com/472/711/computer/3">
				<i class="pull-right icon-fullscreen"></i>
			</a>
			<a href="javascript:">
				<img src="http://flickholdr.com/368/203/computer/5" alt="proname" rel="http://flickholdr.com/472/711/computer/5">
				<i class="pull-right icon-fullscreen"></i>
			</a>
			<a href="javascript:">
				<img src="http://flickholdr.com/368/203/computer/6" alt="proname" rel="http://flickholdr.com/472/711/computer/6">
				<i class="pull-right icon-fullscreen"></i>
			</a>
			<a href="javascript:">
				<img src="http://flickholdr.com/368/203/computer/7" alt="proname" rel="http://flickholdr.com/472/711/computer/7">
				<i class="pull-right icon-fullscreen"></i>
			</a>
			<a href="javascript:">
				<img src="http://flickholdr.com/368/203/computer/8" alt="proname" rel="http://flickholdr.com/472/711/computer/8">
				<i class="pull-right icon-fullscreen"></i>
			</a>
		</div>
		<div class="item">
			<a href="javascript:">
				<img src="http://flickholdr.com/368/203/computer/0" alt="proname" rel="http://flickholdr.com/472/711/computer/0">
				<i class="pull-right icon-fullscreen"></i>
			</a>
			<a href="javascript:">
				<img src="http://flickholdr.com/368/203/computer/1" alt="proname" rel="http://flickholdr.com/472/711/computer/1">
				<i class="pull-right icon-fullscreen"></i>
			</a>
			<a href="javascript:">
				<img src="http://flickholdr.com/368/203/computer/2" alt="proname" rel="http://flickholdr.com/472/711/computer/2">
				<i class="pull-right icon-fullscreen"></i>
			</a>
			<a href="javascript:">
				<img src="http://flickholdr.com/368/203/computer/4" alt="proname" rel="http://flickholdr.com/472/711/computer/3">
				<i class="pull-right icon-fullscreen"></i>
			</a>
			<a href="javascript:">
				<img src="http://flickholdr.com/368/203/computer/5" alt="proname" rel="http://flickholdr.com/472/711/computer/5">
				<i class="pull-right icon-fullscreen"></i>
			</a>
			<a href="javascript:">
				<img src="http://flickholdr.com/368/203/computer/6" alt="proname" rel="http://flickholdr.com/472/711/computer/6">
				<i class="pull-right icon-fullscreen"></i>
			</a>
			<a href="javascript:">
				<img src="http://flickholdr.com/368/203/computer/7" alt="proname" rel="http://flickholdr.com/472/711/computer/7">
				<i class="pull-right icon-fullscreen"></i>
			</a>
			<a href="javascript:">
				<img src="http://flickholdr.com/368/203/computer/8" alt="proname" rel="http://flickholdr.com/472/711/computer/8">
				<i class="pull-right icon-fullscreen"></i>
			</a>
		</div>
	</div>
	<!-- Carousel nav -->
	<a class="carousel-control left" href="#proCarousel" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#proCarousel" data-slide="next">&rsaquo;</a>
</div>
<div class="page-title">Picture</div>
<div id="proModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-body">
		<i class="icon-remove icon-3x" data-dismiss="modal" aria-hidden="true"></i>
		<img src="" alt="proname">
	</div>
</div>
