<div id="Control" class="clearfix">
	<a href="./">返回首页</a>
</div>
<div id="proCarousel2" class="carousel slide">
<!-- Carousel items -->
	<div class="carousel-inner">
		<div class="item active">
			<a href="#" class="9931b8e3-c5ec-4c75-9649-c1bd72d96f3e">
				<img src="../Frontend/img/pro-demo.png"> 
				<i class="pro-desc"></i>
				<section class="Prodesc hide">
					<h3>键盘</h3>
					<p>键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘</p>
				</section>
			</a>
		</div>
		<div class="item">
			<a href="#" class="9931b8e3-c5ec-4c75-9649-c1bd72d96f3e">
				<img src="../Frontend/img/pro-demo.png"> 
				<i class="pro-desc"></i>
				<section class="Prodesc hide">
					<h3>键盘</h3>
					<p>键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘</p>
				</section>
			</a>
		</div>
		<div class="item">
			<a href="#" class="9931b8e3-c5ec-4c75-9649-c1bd72d96f3e">
				<img src="../Frontend/img/pro-demo.png"> 
				<i class="pro-desc"></i>
				<section class="Prodesc hide">
					<h3>键盘</h3>
					<p>键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘</p>
				</section>
			</a>
		</div>
		<div class="item">
			<a href="#" class="9931b8e3-c5ec-4c75-9649-c1bd72d96f3e">
				<img src="../Frontend/img/pro-demo.png"> 
				<i class="pro-desc"></i>
				<section class="Prodesc hide">
					<h3>键盘</h3>
					<p>键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘键盘</p>
				</section>
			</a>
		</div>
	</div>
	<a class="carousel-control left" href="#proCarousel2" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#proCarousel2" data-slide="next">&rsaquo;</a>
</div>

<nav id="Pro-sort">
	<i class="icon-angle-left" data="prev"></i>
	<div id="Sort-wrap">
		<ul>
			<li><a href="javascript:"><span>类别1</span></a></li>
			<li><a href="javascript:" class="active"><span>类别2</span></a></li>
			<li><a href="javascript:"><span>类别3</span></a></li>
			<li><a href="javascript:"><span>类别4</span></a></li>
			<li><a href="javascript:"><span>类别5</span></a></li>
			<li><a href="javascript:"><span>类别6</span></a></li>
			<li><a href="javascript:"><span>类别7</span></a></li>
		</ul>
	</div>
	<i class="icon-angle-right" data="next"></i>
</nav>

<div id="descModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3></h3>
	</div>
	<div class="modal-body">
		<p></p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>
<div class="page-title">Product</div>