<div id="Control" class="clearfix">
	<a href="./">返回首页</a>
</div>
<section id="Pro-container" class="dg-container">
	<div class="dg-wrapper">
		<a href="#">
			<img src="../Frontend/img/pro-demo.png">
			<i class="pro-desc"></i>
		</a>
		<a href="#">
			<img src="../Frontend/img/pro-demo.png">
			<i class="pro-desc"></i>
		</a>
		<a href="#">
			<img src="../Frontend/img/pro-demo.png">
			<i class="pro-desc"></i>
		</a>
		<a href="#">
			<img src="../Frontend/img/pro-demo.png">
			<i class="pro-desc"></i>
		</a>
		<a href="#">
			<img src="../Frontend/img/pro-demo.png">
			<i class="pro-desc"></i>
		</a>
	</div>
	<!-- <nav>	

		<i class="dg-prev icon-step-backward"></i>
		<i class="dg-play icon-play-circle"></i>
		<i class="dg-next icon-step-forward"></i>
	</nav> -->
	<nav>
		<i class="dg-prev icon-arrow-left" data="prev"></i>
		<i class="dg-next icon-arrow-right" data="next"></i>
	</nav>
</section>

<section id="Prodesc" class="hide">
	
</section>
<nav id="Sort-pie">
	<img src="../Frontend/img/product-back.png" alt="" deg="0">
	<div id="Sort-guide">
		<i class="icon-arrow-left" data="prev"></i>
		<i class="icon-arrow-right" data="next"></i>
	</div>
	<div id="Pointer"></div>
</nav>
