<div id="Control" class="clearfix">
	<a href="./">返回首页</a>
</div>
<nav id="Sort-wrap">
	<div class="left-path">
		<i class="icon-caret-left icon-2x"></i>
	</div>
	<div class="sort-list">
		<ul>
			<li><a href="#">电子</a></li>
			<li><a href="#">母婴</a></li>
			<li><a href="#">文艺</a></li>
			<li><a href="#">积木</a></li>
			<li><a href="#">电子</a></li>
			<li><a href="#">电子</a></li>
			<li><a href="#">母婴</a></li>
			<li><a href="#">文艺</a></li>
			<li><a href="#">积木</a></li>
			<li><a href="#">电子</a></li>				
		</ul>
	</div>
	<div class="right-path">
		<i class="icon-caret-right icon-2x"></i>
	</div>
</nav>
<section id="dg-container" class="dg-container">
	<div class="dg-wrapper">
		<a href="#">
			<img src="http://flickholdr.com/628/503/beauty/0">
			<video preload="auto" controls>
				<source src="../Frontend/video/demo0.mp4" type="video/mp4">
			</video>
		</a>
		<a href="#">
			<img src="http://flickholdr.com/628/503/beauty/3">
			<video preload="auto" controls>
				<source src="../Frontend/video/demo1.mp4" type="video/mp4">
			</video>
		</a>
		<a href="#">
			<img src="http://flickholdr.com/628/503/beauty/7">
			<video preload="auto" controls>
				<source src="../Frontend/video/demo2.mp4" type="video/mp4">
			</video>
		</a>
		<a href="#">
			<img src="http://flickholdr.com/628/503/beauty/6">
			<video preload="auto" controls>
				<source src="../Frontend/video/demo3.mp4" type="video/mp4">
			</video>
		</a>
	</div>
	<nav>	
		<i class="dg-prev icon-step-backward"></i>
		<i class="dg-play icon-play-circle"></i>
		<i class="dg-next icon-step-forward"></i>
	</nav>
</section>
<div class="page-title">Video</div>