@tc: #998a7b;

.header{
	.center-block;
	.size(234px, 1080px);
	text-indent: -10000px;
	background: url(../img/header.png);
}

.container{
	.center-block;
	.size(1686px, 1080px);
}

#homebody{
	background: url(../img/homebody.png);
}

#pagebody{
	background: url(../img/pagebody.png);
}

//menu in homepage
#Menu{
	width:778px;
	padding-top:48px;
	.center-block;
	p.Menu{
		margin:0;
		a{
			display: block;
			margin-bottom: 15px;
			text-indent: -10000px;

			&:first-child{
				display: none;
			}
			&:nth-child(2){
				height: 353px;
				background: url(../img/nav-picture.png);
			} 
			&:nth-child(3){
				height: 353px;
				background: url(../img/nav-video.png);
			} 
			&:nth-child(4){
				height: 195px;
				background: url(../img/nav-download.png);
			}
			&:nth-child(5){
				height: 256px;
				background: url(../img/nav-product.png);
			}
			&:nth-child(6){
				height: 302px;
				background: url(../img/nav-product-manuals.png)
			}
		}
	}
}

#Control{
	> a{
		.size(120px, 284px);
		.pull-left;
		text-indent: -10000px;
		background: url(../img/backhome.png) no-repeat;
	}
	nav{
		.size(120px, 670px);
		.pull-right;
		margin:0 42px;

		.left-path, .right-path{
			width:20px;
			line-height: 120px;
			.pull-left;
			color:@tc;
			cursor:pointer;
			visibility: hidden;
			margin:0 10px;

		}

		.sort-list{
			width: 590px;
			line-height: 120px;
			.pull-left;
			overflow: hidden;

			ul{
				margin:0;
				li{
					.pull-left;
					margin:0 11px;
					list-style-position: inside;
					line-height: 110px;
					font-size:30px;
					color:@tc;
				}	
			}
		}
	}
}

#proCarousel{
	padding-top:48px;
	.size(1320px, 1002px);
	.center-block;

	.carousel-inner{
		.size(1320px,822px);
		.center-block;
	}
	.item{
		> a{
			display:block;
			background:url(../img/pic-bg.png) no-repeat;
			.size(327px, 404px);
			.pull-left; 
			cursor: default;

			&:nth-child(2n){
				margin-left: 14px;
			}
			img{
				margin:20px 0;
				.center-block;
				.size(203px, 368px);
			}
			i{
				color:#7499b7;
				margin-right: 20px;
				font-size:30px;
				text-decoration: none;
				cursor:pointer;
			}
		}
	}
}

#myModal{
	@m-width:770px;
	@m-height:580px;
	.size(@m-height, @m-width);
	.opacity(80);
	margin-left: 0-@m-width/2;
	.modal-body{
		max-height: none;
		i{
			color:#7499b7;
			.pull-right;
			cursor: pointer;
		}
		img{
			.center-block;
			margin-top: 60px;
			// .size(472px,711px);
		}
	}
}

.page-title{
	font:51px/normal Arial, sans-serif;
	color:@tc;
	text-shadow:1px 1px lighten(#b6aca1, 10%);
	position: absolute;
	top:1820px;
	left:50%;
	margin-left: -500px;
}

/*gallery style begin*/
.dg-container{
	.size(990px, 1080px);
	overflow: hidden;
	padding-top: 257px;
	position: relative;
	background: url(../img/console-back.png) no-repeat center 100%;
}
.dg-cell(){
	.size(550px,628px);
}
.dg-wrapper{
	.dg-cell;
	margin: 0 auto;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}
.dg-wrapper a{
	.dg-cell;
	display: block;
	position: absolute;
	.border-radius(20px);
	left: 0; top: 0;

	background: url(../img/browser.png) no-repeat center center;
	&:not(.dg-center){
		-webkit-filter: blur(3px);
		-moz-filter: blur(3px);
		-o-filter: blur(3px);
		-ms-filter: blur(3px);
		filter: blur(3px);
		img{
			.opacity(70);
		}
	}
	video{
		.opacity(0);
		cursor: default;
	}
}
.dg-wrapper a.dg-transition{
	.transition(all 0.5s ease-in-out);
}
.dg-wrapper a img{
	display: block;
	border-bottom:1px solid #797265;
	.border-top-left-radius(20px);
	.border-top-right-radius(20px);
}
/*.dg-wrapper a div{
	font-style: italic;
	text-align: center;
	line-height: 50px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	color: #333;
	font-size: 16px;
	width: 100%;
	bottom: -55px;
	display: none;
	position: absolute;
}*/
.dg-wrapper a.dg-center video{
	.size(503px, 628px);
	background: black;
	.border-top-left-radius(20px);
	.border-top-right-radius(20px);
	source{
		.size(503px, 628px);	
	}
}
.dg-container nav{
	width: 430px;
	position: absolute;
	z-index: 1000;
	top:755px;
	left: 50%;
	margin-left: -430px/2;
	background: url(../img/vc-bg-2.png) no-repeat center bottom;
}
.dg-container nav i{
	float: left;
	font-size: 40px;
	text-align: center;
	line-height: 84px;
	cursor:pointer;
	color:#62a0c9;
	.square(84px);
	.opacity(80);
	background: transparent url(../img/vc-back-1.png) no-repeat;
	&:hover{
		.opacity(100);
	}
	&.dg-play{
		.square(106px);
		font-size:68px;
		line-height: 106px;
		background: url(../img/vc-back-play.png) no-repeat;
		margin:-(106px-84)/2 (430px-84*2-106)/2 0;
	}
}
/*gallery style end*/

#Download-wrap{
	.size(1566px,1080px);
	background: url(../img/download-back.png) no-repeat;
	.coupon-list{
		@c-h:1248px;
		.size(@c-h,859px);
		.center-block;
		padding-top: 146px;

		.item{
			height:@c-h;
			a{
				display: block;
				height:@c-h/6;
				p{
					@ph:43px;
					background: black;
					line-height: @ph;
					height:@ph;	
					margin:-@ph 0 0;
					.opacity(80);
					font-size:17px;
					color:white;
					.event-name{
						.pull-left;
						margin-left: 30px;
					}
					.event-date{
						.pull-right;
						margin-right: 30px;
					}
				}
			}
		}
	}
	nav{
		position: absolute;
		top:290px;
		left: 50%;
		margin-left: 260px;
		i{
			display: inline-block;
			.square(90px);
			.border-radius(45px);
			.opacity(80);
			color:#cec8c1;
			cursor: pointer;
			text-align: center;
			font-size:50px;
			line-height: 90px;
			background: #9d958d;
			&:last-child{
				margin-left:38px;
			}
			&:hover{
				.opacity(100);
			}
		}
	}
}

#myModal-2{
	#myModal;
	height: 800px;
	.modal-body>p{
		font-size:32px;
		line-height: 160px;
		font-weight: bold;
		color:#6496bd;
		text-align: center;
	}
}
